<!DOCTYPE html>
<html lang="en">
<head>
	<title>project8style.css</title>
</head>
<body>
h1 {font-weight: bold; color: green;}
h1 {font-weight: bold; color: green;}
body { font-family: Verdana;}
table { width: 650px; border-collapse: collapse; border-style: dotted;}
th { border-style: solid; border-color: black; background-color: yellow;}
tr {border-style: dotted; border-color: blue;
</body>
</html>
